{% assign myLang = request.locale.iso_code %}
{% if myLang == 'zh-CN'%}
	{% assign logo = 'zujuGP-Logo-cn.png' %}
	{% assign homeURL = 'https://www.zujugp.com/zh-cn' %}
{% else %}
	{% assign logo = 'zujuGP-Logo.png' %}
	{% assign homeURL = 'https://www.zujugp.com' %}
{% endif %}

<div class="site-header" data-section-id="{{ section.id }}" data-section-type="header-section" data-drawer-push {% if section.settings.enable_transparent and request.page_type == 'index' %} data-transparent-header="true"{% endif %}>
  <header class="site-header__wrapper" role="banner">
    <!-- START-->
    <div class="nav">
      <nav class="top-nav">
        <div class="top-nav__container">

					{% include 'multilingual_currency' %}

          <div class="top-nav__social social-links">
						{% if section.settings.convo %}
							<a href="{{section.settings.convo_url}}" target="_blank"><i class="far fa-comment"></i></a>
						{% endif %}
            {% if section.settings.facebook %}
							<a href="{{section.settings.facebook_url}}" target="_blank"><i class="fab fa-facebook-square"></i></a>
            {% endif %}
            {% if section.settings.instagram %}
							<a href="{{section.settings.instagram_url}}" target="_blank"><i class="fab fa-instagram"></i></a>
						{% endif %}
						{% if section.settings.twitter %}
							<a href="{{section.settings.twitter_url}}" target="_blank"><i class="fab fa-twitter"></i></a>
						{% endif %}
						{% if section.settings.youtube %}
            	<a href="{{section.settings.youtube}}" target="_blank"><i class="fab fa-youtube"></i></a>
						{% endif %}
						{% if section.settings.weibo %}
							<a href="{{section.settings.youtube_url}}" target="_blank"><img src="{{'icon-weibo.png'| asset_img_url: '30x'}}"/></a>
            {%endif%}
						<a href="{{ routes.cart_url }}" class="btn btn--clear btn--square btn--hover-scale site-header__cart ajax-cart__toggle" aria-expanded="false">
              {%- assign icon = 'icon-header-cart' %}
              {% include icon %}
              <span class="icon__fallback-text">{{ 'general.header.view_cart' | t }}</span>
              <span class="site-header__cart-bubble{% if cart.item_count > 0 %} site-header__cart-bubble--visible{% endif %}"></span>
            </a>
          </div>
        </div>
      </nav>
      <!-- Main nav -->
      <nav class="main-nav">
        <div class="main-nav__container">
          <div class="main-nav__logo clr-primary">
						<a href="{{homeURL}}">
            	<img src="{{ logo|asset_url  }}" alt="" />
						</a>
          </div>

          <div class="main-nav__omega">
						<span >
							{%- assign link_list = linklists[section.settings.link_list] -%}
							<div>
								<ul>
									{% for link in link_list.links %}
										<li class="{% if link.active %} active {% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</span>






            {% comment %}
						<div>
								{% assign menu = linklists[section.settings.main_linklist] %}
								{% for link in menu.links %}
									{% if link.links != blank %}
										<li class="{% if link.active %} active {% endif %}" role="none" aria-haspopup="true">
											<a href="{{ link.url }}" role="menuitem">{{ link.title }}</a>
										</li>
									{% endif %}
								{% endfor %}
							</div>

            {% if request_contact.is_logged_in %}
              <a class="nav__link" href="/_hcms/mem/logout">Logout</a>
            {% else %}
              <a class="nav__link" href="/_hcms/mem/login">Login</a>
            {% endif %}
            {% endcomment %}

            <div class="off-canvas">
              <svg
                width="31"
                height="31"
                viewBox="0 0 31 31"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.35783 1.35787L29.6421 29.6421"
                  stroke="#ED2938"
                  stroke-linecap="square"
                />
                <path
                  d="M29.6421 1.35786L1.35783 29.6421"
                  stroke="#ED2938"
                  stroke-linecap="square"
                />
              </svg>

              <!-- Off canvas -->
								<ul class="off-canvas__menu">
									{% for link in link_list.links %}
										<li class="{% if link.active %} active {% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
									{% endfor %}
								</ul>
            </div>

            <!-- Burger menu -->
            <div class="burger-menu">
              <div class="burger-menu__item"></div>
              <div class="burger-menu__item"></div>
              <div class="burger-menu__item"></div>
            </div>

          </div>
        </div>
      </nav>
    </div>
    <!-- END -->
  </header>
</div>

{% schema %}
{
	"name":{
		"en" : "Header",
		"zh-CN": "主菜单"
	},
	"settings": [
		{
			"type":"header",
			"content":"Menu Settings"
		},
		{
			"id": "link_list",
			"type": "link_list",
			"label": "Menu"
		},
		{
			"type": "header",
			"content": "Convo Settings"
		},
		{
      "type": "checkbox",
      "id": "convo",
      "label": "Show Convo"
		},
		{
			"type": "url",
			"id": "convo_url",
			"label":"Convo Link"
		},
		{
			"type": "header",
			"content": "Facebook Settings"
		},
		{
      "type": "checkbox",
      "id": "facebook",
      "label": "Show Facebook"
		},
		{
			"type": "url",
			"id": "facebook_url",
			"label":"Facebook Link"
		},
		{
			"type": "header",
			"content": "Instagram Settings"
		},
		{
      "type": "checkbox",
      "id": "instagram",
      "label": "Show Instagram"
		},
		{
			"type": "url",
			"id": "instagram_url",
			"label":"Instagram Link"
		},
		{
			"type": "header",
			"content": "Twitter Settings"
		},
		{
      "type": "checkbox",
      "id": "twitter",
      "label": "Show Twitter"
		},
		{
			"type": "url",
			"id": "twitter_url",
			"label":"Twitter Link"
		},
		{
			"type": "header",
			"content": "Youtube Settings"
		},
		{
      "type": "checkbox",
      "id": "youtube",
      "label": "Show Youtube"
		},
		{
			"type": "url",
			"id": "youtube_url",
			"label":"Youtube Link"
		},
		{
			"type": "header",
			"content": "Weibo Settings"
		},
		{
      "type": "checkbox",
      "id": "weibo",
      "label": "Show Weibo"
		},
		{
			"type": "url",
			"id": "weibo_url",
			"label":"Weibo Link"
		}
	]
}
{% endschema %}